body{
    margin: 0px;
}



.logos-login{
    background: rgb(4,25,80);
    background: linear-gradient(90deg, rgba(4,25,80,1) 0%, rgba(136,184,255,1) 100%);
    width: 550px;
    height: 725px;
    display: flex;
    flex-direction: row;
}

.logos{
    padding-left: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    margin-top: 25px;
    height: 250px;
    width: 250px;
    transition: transform 1.5s ease-in-out;;
}

.logo:hover {
    transform: rotate(720deg);
}

.logo-name{
    padding-top: 20px;
    width: 450px;
}



.calendar{
    padding-top: 50px;
    height: 300px;
    width: 300px;
}

.race{
    margin-left: 40px;
}

.background{
    width: 550px;
    height: 725px;
}

.fondo{
    position: absolute;
    opacity: 0.5;
    width: 697px;
    height: 725px;
}


.login-register{
    position: absolute;
    width: 600px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
    margin-top: 40px;
}




@media (min-height: 773px) and (min-width: 1600px){


    .logos-login{
        width: 690px;
        height: 900px;


    }


    .logos{
        margin-top: 50px;
        margin-left: 85px;
    }


    .race{
        margin-left: 90px;
    }


    .fondo{
        width: 900px;
        height: 900px;
    }
}


